.recover .button-cancelar {
  border-radius: 2em;
  height: 35px;

  color: var(--pink-normal);
  font-weight: bold;

  border: 1px solid var(--pink-normal);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s;
}
.recover .button-cancelar:hover {
  background-color: var(--pink-dark);
  color: var(--white-normal);
}
